
#verseDiv{
margin-top: 40px;
font-size: 21px;
padding: 10px;
}


#paraDiv{
margin-top: 40px;
// width: 80%;
padding: 10px;
}


#sigDiv{
margin-top: 50px;
text-align: right;
width: 80%;
}
